*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;/*Внешние отступы элементов*/
    padding: 0; /*Внутренние отступы элементов*/
} /*Обнуление стандартных настроек*/
.grey {
    background-color: grey; /*Установка фона цветом серый*/
    border: 0 solid grey; /*Грацина (размер, тип линии, цвет) к блоку серого цвета*/
    width: 600px; /*Ширина серого блока*/
    height: 220px; /*Высота серого блока*/
    margin: 250px auto; /*Внешний отступ серого блока по вертикали и горизонтали соответсвенно*/
    padding: 11px; /*Внутренний отступ в сером блоке (образование рамки)*/
}
.white {
    background-color: white; /*Установка фона цветом белый*/
    border: 1px solid white; /*Грацина (размер, тип линии, цвет) к блоку белого цвета*/
    border-radius: 7px; /*Установка круглой границы к блоку белого цвета*/
    display: flex; /*Отражение детей белого блока в один ряд, flex устанавливается родителю*/
    padding: 8px 0;
}
.block {
    width: 200px; /*Ширина всех белых блоков*/
    height: 180px; /*Высота всех белых блоков*/
    text-align: center; /*Выравнивание текста по центру всех белых блоков*/
    border-right: 1px solid lightgrey;
}
.block:last-child{
    border-right: none;
}
.block-img {
    height: 42px; /*Высота картинки-спрайт*/
    width: 61px; /*Ширина картинки-спрайт*/
    background-image: url("../images/hosting.png"); /*Путь картинки-спрайт*/
    margin: 0 auto; /*Расположение по центру картинки-спрайт*/
}
.block-img.virtual {
    background-position: 0 0; /*Позиция спрайта для блока 1*/
}
.block-img.cloud {
    background-position: 0 -42px; /*Позиция спрайта для блока 2*/
}
.block-img.server {
    background-position: 0 -84px; /*Позиция спрайта для блока 3*/
}
.name-service {
    color: orangered; /*Цвет текста для наименования услуги*/
    font-family: Roboto;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoBold/RobotoBold.ttf");
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.woff");
}
.bottom {
    height: 30px; /*Высота кнопки*/
    width: 100px; /*Ширина кнопки*/
    background-color: orangered; /*Фон кнопки*/
    color: white; /*Цвет текста кнопки*/
    border: 1px solid orangered; /*Грацина (размер, тип линии, цвет) к блоку серого цвета*/
    border-radius: 3px; /*Установка круглой границы к кнопке*/
    margin: 0 auto; /*Расположение кнопки по центру*/
    padding: 5px; /*Отступ текста от границ кнопки*/
}
.block > div {
    margin-top: 15px;
}
